const couchbaseConfig = {
  username: "<enter username here>: String",
  password: "<enter password here>: String",
  bucketName: "<enter bucketName here>: String"
};

module.exports = couchbaseConfig;
